@import "../02-tools/tools-breakpoints";

h1{
  //font-size: 3em;
  @include for-phone-only {
    font-size: 2em ;
    line-height: 1.25em;
  }
  @include for-tablet-portrait-up {
    font-size: 2em ;
  }
  @include for-tablet-landscape-up {
    font-size: 2.5em ;
  }
  @include for-desktop-up {
    font-size: 3em ;
  }


}
h2{
  font-size: 2.25em;
  line-height: 1.25em;
  @include for-phone-only {
    font-size: 1.625em ;
  }
  @include for-tablet-portrait-up {
    font-size: 1.625em ;
  }
  @include for-tablet-landscape-up {
    font-size: 2em ;
  }
  @include for-desktop-up {
    font-size: 2.25em ;
  }


}

h3{
  font-size: 1.75em;
  line-height: 1.25em;
  @include for-phone-only {
    font-size: 1.375em ;
  }
  @include for-tablet-portrait-up {
    font-size: 1.375em;
  }
  @include for-tablet-landscape-up {
    font-size: 1.5em ;
  }
  @include for-desktop-up {
    font-size: 1.75em ;
  }


}
h4{
  //font-size: 1.125em;

  @include for-phone-only {
    font-size: 1.125em ;
  }
  @include for-tablet-portrait-up {
    font-size: 1.140em;
  }
  @include for-tablet-landscape-up {
    font-size: 1.20em ;
  }
  @include for-desktop-up {
    font-size: 1.25em ;
  }
}