
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');

$font-Montserrat :  'Montserrat', sans-serif;
$font-Lato : 'Lato', sans-serif;
$font-Raleway : 'Raleway', sans-serif;

$base-font-size : 16px;
$base-font-line :  1.75;
$base-letter-spacing: 0.1em;

