{% extends 'base.html.twig' %}
 
{% block stylesheets %}
           <link href="{{asset("css/06-components/components-navbar.css")}}" rel="stylesheet">
{% endblock %}

{% block navbarElements %}
             
               <li class="nav-item   c-navbar__elementsContainer__element c-navbar__elementsContainer__element--active ">
                  <a class="nav-link" href="{{ path('adminHome') }}">Добавяне на проект  <span class="sr-only">(current)</span></a>
                </li>
               
                <li class="nav-item c-navbar__elementsContainer__element ">
                  <a class="nav-link" href="{{ path('messages') }}">Съобщения</a>
                </li>
{% endblock %}
