/*= input focus effects css
=========================== */
@import '../01-settings/settings-colors';
.c-input{
  color: #333;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
  &:focus{outline: none;}
  &--expand-effect{
    border: 0;
    padding: 7px 0;
    border-bottom: 1px solid #ccc;
  }

  &--option {
    width: 30px;
  }
  &--select{
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0%;
    padding-left:  0px;
    outline-style: none;
    &:focus {
      border-bottom: 1px solid $primary-color;
      box-shadow: none;

    }
  }



}

.c-input--expand-effect ~ .focus-border {
  position: absolute;
  bottom: 0; left: 50%;
  width: 0; height: 2px;
  background-color: $primary-color;
  transition: 0.4s;
}
.c-input--expand-effect:focus ~ .focus-border {
  width: 100%;
  transition: 0.4s;
  left: 0;
}

