.c-project-images{
  //this is for profile images

  &__profileImage-holder{
    position: relative;
    width: 15em;
    height: 15em;
    text-align: center;
    margin: 2em auto;
    border: 10px solid #8B0052;
    padding: 0;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 1px 1px 10px  gray;
    input {
      display: none;
    }
  // after hover effect of profile image
    &__afterEffect {
      transition: 0.35s;
      cursor: pointer;
      position: absolute;
      top: 0;right: 0;bottom: 0;left: 0;
      z-index: 1;
      background-color: #8B0052;
      opacity: 0;
      i{
        position:relative;
        top: 50%;
        transform: translate(0%,-50%);
        font-size: 3.5em;
        color: white;

      }
      &:hover {
        opacity: 1;
      }
    }
    img{
      width: 100%;
      height: 100%;
    }



  }
  //container of all project images
  &__addImages-holder {
    padding: 1rem ;

    &__image-holder, &__add-button {
      //cursor: pointer;
      transition: 0.35s;
      margin: 0em;
      padding: 0;
      border: 5px solid #8B0052;
      height: 30rem;
      overflow: hidden;
      box-shadow: 1px 1px 10px  gray;

      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &:hover{
        transform: scale(1.1);
        z-index: 1;
        .remove-image {
          cursor: pointer;
          z-index: 1;
          background: rgba(187,5,4,1);

          i{
          }
        }
      }
    }

    &__add-button{
       cursor: pointer;
       transition: 0.35s ease-in-out;
       position: relative;
       align-items: center;
       text-align: center;
       background: linear-gradient(to right, #8B0052,#8B0052);
       color: white;
       &:hover {
         background-size: 100% 100%;
       }
       i {
         position: absolute;
         top: 50%; left: 50%;
         transform: translate(-50%, -50%);
         font-size: 5rem;
       }
      input{
        display: none;
      }
     }



  }
}


.remove-image {
  transition: 0.35s;
  position: absolute;
  top: 0; right: 0;bottom: 0;left: 0;
  z-index: -1;
  font-size: 2em;
  color: #BB0504;
  border: none;
  background: rgba(187,5,4,0);

  i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    color: white;
  }


}