@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import '../../02-tools/tools-breakpoints.scss';

.c-header {
    padding: 0;
    margin: 0;

    &__info-container{
        word-break: break-word;
        background-color: #BB0504;

        &__secondary-text, &__primary-text{
            padding: 0.3rem;
            color: white;
            margin: 0;
            margin-top: 1.5rem;
            
           }

       
    
       &__button{
           transition: 0.3s;
           background: rgba(255,255,255,0.0);
           border: 1px solid white;
           color: white;
           margin-top: 1.5rem;
           margin-bottom: 1.5rem;
           &:hover{
            background: rgba(255,255,255,1);
            color: black;
           }
       }
     

    }

    &__image-container {
        padding: 0;
        margin: 0;
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    @include for-phone-only{
        &__image-container {
            order: 1;
        }
        &__info-container {
            order: 2;
        }
    }


    @include for-tablet-portrait-up{
        &__image-container {
            order: 1;
        }
        &__info-container {
            order: 2;
        }

    }
    @include for-tablet-landscape-up{
        &__image-container {
            order: 2;
        }

        &__info-container {
            order: 1;
        }
    }

}