<footer class="footer-section">
    <div class="container col-12">
        <div class="footer-cta pb-5">
        </div>
        <div class="footer-content pt-5 pb-5">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <h2>Хитко</h2>
                        </div>
                        <div class="footer-text">
                            <p>Най-добрата автошкола в Разград. Топ успеваемост сред записалите се курсантите. Най-добрите преподаватели и практици са тука. </p>
                        </div>
                        <div class="footer-social-icon">
                            <span>Последвайте ни </span>
                            <a href="https://www.facebook.com/profile.php?id=100017350993606"><i class="fab fa-facebook-f facebook-bg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Useful Links</h3>
                        </div>
                        <ul>
                            <li><a href="#">Начало</a></li>
                            <li><a href="#">Контакти</a></li>
                            <li><a href="#">Категории</a></li>
                            <li><a href="#">Категория A1</a></li>
                            <li><a href="#">Категория A2</a></li>
                            <li><a href="#">Категория A</a></li>
                            <li><a href="#">Категория B1</a></li>
                            <li><a href="#">Категория B</a></li>
                            <li><a href="#">Категория C1</a></li>
                            <li><a href="#">Категория C</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2020, All Right Reserved <a href="{{ path("home") }}">Hitko</a></p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                    <div class="footer-menu">
                        <ul>
                            <li><a href="#">Начало</a></li>
                            <li><a href="#">Категории</a></li>
                            <li><a href="#">Курсове за правоспособност</a></li>
                            <li><a href="#">Контакти</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>